body {
    text-align: center;
    background: url(images/baseball-diamond-crop-u94.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}
@keyframes header {
    from{margin: -50px;}
    to{margin: 10px 0px;}
}
@keyframes playBall {
    from{opacity: 0.1;}
    to{opacity: 0.9;}
}
h1 .play-ball {
    animation-name: playBall;
    animation-duration: 2s;
}
h1 {
    text-shadow: 0px 0px 15px white;
    box-shadow: 0px 0px 15px black;
    font-size: 4em;
    background: url(images/Plate%20Cleats.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 10px 0px;
    margin: 10px 0px;
}
h1 b {
    animation-name: header;
    animation-duration: 4s;
    font-size: 1.4em
}
.cleats {
    background: white;
    padding: 2px;
    margin: 0px
}
.cleats-hover {
    display: inline-block;
    transition: width 1s, height 1s;
}

.cleats-hover:hover {
    width: 130px;
    height: 120px;
}
.stock-checker {
    display: block;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 200px;
}
h3 {
    display: inline-block;
    background: rgba(255, 255, 255, 0.4);
    font-size: 1.2em;
    padding: 5px;
}
.brand, .size, .color {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 10px;
    font-size: 1.3em;
    font-family: fantasy;
    cursor: pointer;
    padding: 5px;
}
.search-btn {
    font-size: 1em;
    padding: 10px;
    background: linear-gradient(rgba(255, 255, 255, 0.2), white);
    box-shadow: 0px 0px 5px;
    font-family: fantasy;
    border: none;
}
.search-btn:hover {
    background: linear-gradient(white, rgba(255, 255, 255, 0.2));
    cursor: pointer;
}
h4 {
    font-size: 1.3em;
    text-shadow: 0px 0px 2px white;
    text-decoration: underline;
    display: inline;
}
.admin-login {
    display: none;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.4);
    border: outset grey;
}
.close-admin-btn, .close-btn, .close-staff-adder {
    font-family: monospace;
    padding: 5px 8px;
    float: right;
    background: rgba(200, 0, 0, 0.4);
    border: none;
}
.close-admin-btn:hover, .close-btn:hover, .close-staff-adder:hover {background: rgba(255, 0, 0, 0.6); cursor: pointer}
.stock-adder {
    display: none;
    padding: 20px 100px;
    background: rgba(0, 0, 0, 0.4);
    border: outset grey;
}
.hide-table-btn {
    cursor: pointer;
    background: #999;
    padding: 5px 7px;
    font-family: fantasy;
    font-size: 1.1em;
    box-shadow: 0px 0px 4px gray;
    border: none
}
.login-btn, .add-btn, .add-admin-btn, .add-new-staff, .add-staff-btn, .show-stock-btn, .update-btn {
    cursor: pointer;
    background: #999;
    padding: 5px;
    font-family: fantasy;
    font-size: 1.1em;
    box-shadow: 0px 0px 4px gray;
    border: none
}
.login-btn:hover, .add-btn:hover, .add-admin-btn:hover, .add-staff-btn:hover, .hide-table-btn:hover, .show-stock-btn:hover, .update-btn:hover {
    background: #777;
}
.staff-header {
    font-size: 1.3em;
    text-shadow: 0px 0px 2px white;
    text-decoration: underline;
}
.add-admin {
    display: none;
    padding: 1em;
    background: rgba(0, 0, 0, 0.5);
    border: outset grey;
}
.display-header {display: inline-block; padding: 5px; font-size: 1.9em; font-family: sans-serif; background: #999; border-radius: 10px; text-shadow: 0px 0px 5px white}
a {color: white}
h2 {text-shadow: 0px 0px 5px white}
table {width: 55%;}
td, th {padding: 3px; font-size: 1.9em; font-family: monospace;}
th {background: rgba(0, 0, 0, 0.4)}
td {background: rgba(255, 255, 255, 0.2)}
.brandAdd, .colorAdd, .sizeAdd, .stockAdd, .priceAdd {text-align: center; text-transform: capitalize}
.sizeAdd {text-transform: uppercase}
.pswd-text, .usrname-text {text-align: center;}
p {display: inline-block; margin: 0px;}